<%# NanoUI Label
  Options: for, required (false), class
  Usage:
    render "components/label", for: "email", required: true do "Email" end
%>
<%
  label_for = local_assigns.fetch(:for, nil)
  required  = local_assigns.fetch(:required, false)
  classes   = local_assigns.fetch(:class, "")

  css = "label"
  css += " label--required" if required
  css += " #{classes}" if classes.present?
%>

<label<%= " for=\"#{label_for}\"" if label_for %> class="<%= css.strip %>"><%= yield %></label>
